:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.yoshi {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: left 200ms;
  z-index: 1;
}
.yoshi.hit {
  left: 10%;
}
.yoshi > img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 40vw;
}

.hand {
  position: absolute;
  transform: translate(0%, -50%);
  right: 0;
  transition: transform 200ms, right 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}
.hand.hit {
  transform: translate(0%, -50%) scaleX(200%);
  right: 50%;
}
.hand > img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.hand > .pet-hand {
  position: absolute;
  width: 64px;
  right: 200px;
}

main {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

.info-label {
  font-size: 2rem;
}

.main-info {
  position: absolute;
  left: 1rem;
  top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 6;
}

.notif {
  position: absolute;
  z-index: 10;
  text-align: center;
  pointer-events: none;
}

.bar-full {
  width: 256px;
  height: 48px;
  position: relative;
  background-color: grey;
  text-align: center;
  z-index: 11;
  border-radius: 1rem;
}
.bar-full > span {
  z-index: 12;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
}

.bar-bar {
  height: 48px;
  background-color: green;
  position: absolute;
  z-index: 11;
  border-radius: 1rem;
}

.shop {
  padding: 1rem;
  right: -100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 57, 57);
  z-index: 15;
  transition: right 200ms;
}
.shop.shop-active {
  right: 0%;
}

.petmenu {
  padding: 1rem;
  right: -100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  background-color: rgb(57, 57, 57);
  z-index: 15;
  transition: right 200ms;
}
.petmenu.petmenu-active {
  right: 0%;
}

.logo {
  width: 312px;
}

.intro {
  display: none;
}

.shop-item {
  width: 68px;
}

.shop-items {
  display: grid;
  gap: 8px 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(666, 1fr);
  height: 100vh;
  overflow: auto;
  width: 282px;
  justify-items: center;
}

.shop-panel {
  width: 78px;
}
.shop-panel > button {
  border-radius: 0.5rem;
}
.shop-panel.hit > button {
  background-color: rgb(157, 0, 0);
}
.shop-panel.block > button {
  background-color: rgb(3, 41, 145);
}
.shop-panel.normal > button {
  background-color: green;
}

.gambling {
  width: 90vw;
  height: 128px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 20;
  gap: 1rem;
  transition: left 2s;
  left: 0;
}
.gambling > .gamble-panel > img {
  height: 128px;
}
.gambling > .gamble-panel.chosen {
  border: 1rem solid red;
}

button {
  color: black;
}
button[disabled] {
  color: white;
}/*# sourceMappingURL=app.css.map */