$delay: 200ms;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.yoshi {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: left $delay;

  &.hit {
    left: 10%;
  }

  & > img {
    user-select: none; 
    pointer-events: none;
    width: 40vw;
  }

  z-index: 1;
}

.hand {
  position: absolute;
  transform: translate(0%, -50%);
  right: 0;
  transition: transform $delay, right $delay;

  &.hit {
    transform: translate(0%, -50%) scaleX(200%);
    right: 50%;
  }
  & > img {
    user-select: none; 
    pointer-events: none;
    
  }
  user-select: none; 
  z-index: 2
}

main {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

.info-label {
  font-size: 2rem;

}

.main-info {
  position: absolute;
  left: 1rem;
  top: 1rem;
  user-select: none;
  z-index: 6;
}
.notif {
  position: absolute;
  z-index: 10;
  text-align: center;
  pointer-events: none;
}

.bar-full {
  width: 256px;
  height: 48px;
  position: relative;
  background-color: grey;
  text-align: center;
  z-index: 11;
  border-radius: 1rem;
  & > span {
    z-index: 12;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
  }
}

.bar-bar {
  height:48px;
  background-color: green;
  position: absolute;
  z-index: 11;
  
  border-radius: 1rem;
  
}

.shop {
  right: -100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  
  z-index: 15;
  transition: right 200ms;

  &.shop-active {
    right: 0%;
  }
}

.logo {
  width: 312px;
}

.intro {
  display: none;
}

.shop-item {
  width: 68px;
  
} 

.shop-items {
  display: grid;
  gap: 8px 8px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  overflow: auto;
  width: calc(94px * 3);
}

.shop-panel {
  width: 78px;
  & > button {
    border-radius: 0.5rem;
  }
  &.hit > button {
    background-color: rgb(157, 0, 0);
  }
  &.block > button {
    background-color: rgb(3, 41, 145);
  }
  &.normal > button {
    background-color: green;
  }
}
